@import 'variables';

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 10em;
    height: 10em;
}

body {


    & ul {
        background-color: $title_color;
        width: 10em;
        height: 78vh;
        margin-top: -0.5vh;

        & li {
            color: $blocoTerciario_color;
            padding-top: 1vh;
            padding-left: 1vh;
        }
    }



    & article {
        background-color: $blocoSecundario_color;
        width: 70%;
        height: 40vh;
        margin-top: 5vh;
        margin-left: 40vh;
        border-radius: 2em;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "titulo titulo titulo"
            "t1 t2 t3"
        ;
        gap: 1em;
        padding: 2em;
        align-items: start;

        & h2 {
            grid-area: titulo;
            justify-self: center;
        }

        & section:nth-of-type(1) {
            grid-area: t1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1;

            & h4 {
                font-family: $titulos_font_family;
                width: 100%;
                text-align: center;
            }

            & p {
                width: 100%;
                text-align: center;

            }
        }

        & section:nth-of-type(2) {
            grid-area: t2;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1;

            & h4 {
                font-family: $titulos_font_family;
                width: 100%;
                 text-align: center;
            }

            & p {
                width: 100%;
                text-align: center;

            }
        }

        & section:nth-of-type(3) {
            grid-area: t3;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1;

            & h4 {
                font-family: $titulos_font_family;
                width: 100%;
                text-align: center;
            }

            & p {
                width: 100%;
                text-align: center;

            }
        }

    }


    & main {
        margin-top: -80vh;
    }

    & h1 {
        margin-left: 45vh;
        font-family: $titulos_font_family;
    }




}