@import 'variables';

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 10em;
    height: 10em;
}

body {
    padding-right: 0.6250em;
    padding-left: 0.6250em;
    padding-top: 0.6250em;
    padding-bottom: 0.6250em;
    background-color: #F5EED7;

    & article {
        width: 100%;
        height: 42em;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        justify-items: center;
        flex-direction: column;
    }

    & input,
    select {
        background-color: #648a34;
        width: 82%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #648a34;
        border-radius: 0.5em;
        height: 2.5em;
        color: #F5EED7;

        &::placeholder {
            color: #F5EED7;
            margin-left: 2em;
        }
    }

    & button {
        margin-top: 2em;
        background-color: $title_color;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $title_color;
        border-radius: 0.5em;
        color: #F5EED7;

        & button:hover {
            background-color: #648a34;
        }
    }


    & header {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        justify-items: center;
        align-items: center;

        & h1 {
            font-size: 3em;
        }
    }
}