@import 'variables';

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 10em;
    height: 10em;
}

body {
    padding-right: 0.6250em;
    padding-left: 0.6250em;
    padding-top: 0.6250em;
    padding-bottom: 0.6250em;
    background-color: $color-text;

    & article {
        width: 100%;
        height: 42em;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        justify-items: center;
        flex-direction: column;
    }

    & input, select {
        background-color: $color-secondary;
        width: 82%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-secondary;
        border-radius: 0.5em;
        height: 2.5em;
        color: $color-text;
        padding-left: 0.5em;

        &::placeholder {
            color: $color-text;
            margin-left: 2em;
        }
        
        &:hover {
            background-color: $color-accent;
            border-color: $color-accent;
        }
        
        &:focus {
            outline: none;
            border-color: $color-button;
            background-color: $color-accent;
        }

    }

    & button {
        background-color: $color-button;
        border: none;
        padding: 0.2em 1.5625em;
        border-radius: 0.5em;
        cursor: pointer;
        font-size: 1em;
        margin-top: 1.25em;
        display: block;
        font-family: "Inter", sans-serif;
        transition: all 0.3s ease;
        width: 13em;
        margin-left: auto;
        margin-right: auto;
        color: $color-text;

        &:hover {
            background-color: $color-accent;
            transform: translateY(-0.125em);
            box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
        }
    }


    & header {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        justify-items: center;
        align-items: center;

        & h1 {
            font-size: 3em;
        }
    }
}