@import 'variables';

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 10em;
    height: 10em;
}

body {

    & ul {
        background-color: $title_color;
        width: 10em;
        height: 78vh;
        margin-top: -0.5vh;

        & li {
            color: $blocoTerciario_color;
            padding-top: 1vh;
            padding-left: 1vh;
        }
    }

    & input {
        color: $blocoTerciario_color;
        width: 92%;
        margin-left: 5vh;
        margin-top: 2vh;
    }

    & article {
        background-color: $blocoSecundario_color;
        width: 70%;
        height: 40vh;
        margin-top: 5vh;
        margin-left: 40vh;
        border-radius: 2em;
    }

    & main {
        margin-top: -80vh;

        & p {
            margin-left: 10vh;
            margin-top: 3vh;
        }
    }

    & h1 {
        margin-left: 45vh;
        font-family: $titulos_font_family;
    }

    & button {
        text-decoration: none;
        background-color: $blocoSecundario_color;
        border: none;
        margin-left: 4vh;
        margin-top: 4vh;
    }

    & h4 {
        margin-left: 7vh;
        margin-top: 0.5vw;
        font-family: $titulos_font_family;

        & button {
            margin-left: 0vh;
            margin-top: 1.5vh;
        }
    }

    & #talh천es-1 {
        display: none;
        margin-left: 29vw;
        margin-top: -28vh;
        width: 10vw;
        height: 20vh;
        background-color: #fff;
        border-radius: 10%;

        & h5 {
            margin-left: 1vh;
            padding-top: 0.8vw;
        }

        & button {
            margin-left: 0.5vw;
            background-color: #fff;
            margin-top: 1vh;
        }
    }

    & #talh천es-2 {
        display: none;
        margin-left: 29vw;
        margin-top: -23vh;
        width: 10vw;
        height: 20vh;
        background-color: #fff;
        border-radius: 10%;

        & h5 {
            margin-left: 1vh;
            padding-top: 0.8vw;
        }

        & button {
            margin-left: 0.5vw;
            background-color: #fff;
            margin-top: 1vh;
        }
    }

    & #talh천es-3 {
        display: none;
        margin-left: 29vw;
        margin-top: -18vh;
        width: 10vw;
        height: 20vh;
        background-color: #fff;
        border-radius: 10%;

        & h5 {
            margin-left: 1vh;
            padding-top: 0.8vw;
        }

        & button {
            margin-left: 0.5vw;
            background-color: #fff;
            margin-top: 1vh;
        }
    }

    & #talh천es-4 {
        display: none;
        margin-left: 29vw;
        margin-top: -13vh;
        width: 10vw;
        height: 20vh;
        background-color: #fff;
        border-radius: 10%;

        & h5 {
            margin-left: 1vh;
            padding-top: 0.8vw;
        }

        & button {
            margin-left: 0.5vw;
            background-color: #fff;
            margin-top: 1vh;
        }
    }
}