@import 'variables';

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 10em;
    height: 10em;
}

body {

    & aside {
        background-color: $title_color;
        width: 10em;
        height: 78vh;
        margin-top: -0.5vh;
    }

    & p {
        margin-left: 10vh;
        margin-top: 2vh
    }

    & input {
        color: $blocoTerciario_color;
        width: 92%;
        margin-left: 5vh;
        margin-top: 2vh;
    }

    & article {
        background-color: $blocoSecundario_color;
        width: 70%;
        height: 35vh;
        margin-top: 5vh;
        margin-left: 40vh;
        border-radius: 2em;
    }

    & main {
        margin-top: -80vh
    }

    & h1 {
        margin-left: 45vh;
        font-family: $titulos_font_family;
    }
}