@import 'variables';

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 10em;
    height: 10em;
}

body {
    background-image: url(/imagem/imagem\ cadastro.png);
    background-repeat: no-repeat;
    padding-right: 0.6250em;
    padding-left: 0.6250em;

    & section {
        background-color: #F5EED7;
        width: 35em;
        height: 100%;
        position: absolute;
        right: 0;
        display: grid;
        justify-content: center;
        grid-template-rows: 15em 9em 5em 7em 3em;
        align-items: end;
        justify-items: center;


        & input {
            background-color: #b5dc84;
            width: 22em;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #648a34;
            border-radius: 0.5em;
            height: 2.5em;

            &::placeholder {
                color: #626261;
                margin-left: 2em;
                padding-left: 0.5em;
                font-style: italic;
                opacity: 0.7; 
            }
        }

        
        & button {
            background-color: #648a34;
            width: 20em;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 16px;
            cursor: pointer;
            border: 1em;
            padding: 10px;
            max-width: 300px;
        }

        & label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }
    }

    & p {
        font-family: $principalConteudo_font_family;       
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 0.8em;
    }

    & h1 {
        font-size: 1em;
        font-weight: normal;
    }
}
   

