 @import 'variables';


 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
 }


 aside {
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 10em;
     background: $title_color;
     box-sizing: border-box;
     list-style: none;
     flex-shrink: 0;

     & li {
         margin-top: 1%;
         margin-left: 4%;
         cursor: pointer;
     }

     & img {
         width: 10em;
         height: 10em;
     }
 }


 main {
     display: flex;
     align-items: center;
     flex: 1;
     margin-left: 200px;
     padding: 40px;
     box-sizing: border-box;
     display: grid;
     grid-template-columns: 50% 50%;
     gap: 40px;
     justify-items: center;


     & h1 {
         grid-column: 1 / -1;
         text-align: center;
         margin-bottom: 20px;
         font-family: $titulos_font_family ;
         font-weight: 600;
         color: $title_color;
     }


     & section {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background: $blocoSecundario_color;
         padding: 20px;
         border-radius: 10px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
         width: 250px;
         overflow: hidden;



         & img {
             width: 100%;
             height: auto;
             border-radius: 8px;
             margin-bottom: 10px;
             display: block;
             transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;

         }


         &:hover img {
             transform: scale(1.05);
             /* Zoom suave */
             box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
             /* Sombra suave */
             filter: brightness(0.7);
             /* Aumenta o brilho */
         }

         &:hover p {
             opacity: 1;
             transform: translateY(0);
             /* Move o texto para a posição normal */
         }

         &:hover h3 {
             opacity: 1;
             transform: translateY(0);
             /* Move o texto para a posição normal */
         }


     }


     & p {
         display: flex;
         flex-direction: row;
         bottom: 0;
         left: 0;
         right: 0;
         text-align: center;
         padding: 10px;
         margin: 0;
         color: black;
         opacity: 0;
         /* Invisível por padrão */
         transform: translateY(20px);
         /* Começa deslocado para baixo */
         transition: opacity 0.3s ease, transform 0.3s ease;
         pointer-events: none;



         & img {
             width: 1vw;
             height: 2vh;
             border-radius: 0px;
             margin-right: 4%;
         }
     }

     & h3 {
         bottom: 0;
         left: 0;
         right: 0;
         text-align: center;
         padding: 10px;
         margin: 0;
         color: black;
         opacity: 0;
         /* Invisível por padrão */
         transform: translateY(20px);
         /* Começa deslocado para baixo */
         transition: opacity 0.3s ease, transform 0.3s ease;
         pointer-events: none;
     }

 }




 footer {
     background: $title_color;
     padding: -10em 20px 10px;
     text-align: center;
     box-sizing: border-box;
     width: 100%;
     position: relative;
     width: calc(100% - 10em);
     /* largura total menos a do aside fixo */
     margin-left: 10em;
     /* evita sobrepor o aside */


     & img {
         width: 1%;
         height: 1%;
     }
 }