
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
  background-color: #E9E1C3;
  display: flex;
  min-height: 100vh;
}

nav {
  background-color: #0D4E19;
}

nav img {
  width: 100%;
  height: 10.5rem;
  display: block;
  border: none;
  outline: none;
  box-shadow: none;
}

nav ul {
  list-style: none;
}

nav li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #F5EED7;
  text-decoration: none;
  display: block;
  padding: 0.9375rem 1.25rem;
  transition: background-color 0.3s;
}

nav li:hover {
  background-color: #4a6a25;
}

main {
  flex: 1;
  padding: 2rem;
  background-color: #fff8e6;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

header h1 {
  color: #0D4E19;
  font-size: 2.5rem;
  margin-left: 0;
}

button {
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
  font-family: "Lexend", sans-serif;
}

.btn-adicionar {
  background-color: #578424;
  color: #F5EED7;
}

.btn-adicionar:hover {
  background-color: #0D4E19;
  transform: translateY(-2px);
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  margin-top: 3rem;
  padding: 0 2rem;
}

section button {
  background-color: #4a6a25;
  color: #F5EED7;
  font-size: 1.2rem;
  padding: 2.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

section button:hover {
  background-color: #0D4E19;
  transform: translateY(-5px);
  border-color: #b5dc84;
  box-shadow: 0 5px 15px rgba(13, 78, 25, 0.3);
}