@import 'variables';

* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 10em;
    height: 10em;
}

body {

    & ul {
        background-color: $title_color;
        width: 10em;
        height: 78vh;
        margin-top: -0.5vh;

        & li {
            color: $blocoTerciario_color; 
            padding-top: 1vh;
            padding-left: 1vh;
        }
    }

    & main {
        margin-top: -78vh;
        margin-left: 40vh;
        display: grid;

        & button {
            border-radius: 50px;
            width: 24vh;
            height: 5vh;
            margin-bottom: 2vh;    
            background-color: $blocoSecundario_color;
        }

        & h1 {

            font-family: $titulos_font_family;
            font-weight: 400;
            margin-bottom: 3vh;
            width: 25vh;
            margin-left: 2.5vh;
            color: $title_color;
        }
    }


}